<section class="home">
    <h2 tabindex="0">JA RELIEF</h2>

    <p>
        JA RELIEF is a disaster assistance platform helping Jamaicans
        access food, medication, and emergency support after hurricanes
        and other natural disasters.
    </p>

    <div class="actions">

        <a routerLink="/help" class="btn primary">
            🆘 I Need Help
        </a>

        <a routerLink="/donate" class="btn secondary">
            🤝 Donate
        </a>

        <a routerLink="/info-page" class="btn">
            Information Page
        </a>
    </div>
</section>